# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/.idea
/AdogaClient/node_modules
/AdogaClient/dist
/server/node_modules
/server/public/images

# compiled output
/dist
/tmp
/out-tsc

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*