// @import "./../../../node_modules/antd/dist/antd.css";
@import "./../../shared/assets/scss/variables";
@import "../../shared/assets/icon/icomoon/style.css";

@font-face {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url("../../shared/assets/font/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Roboto"), local("Roboto"),
    url("../../shared/assets/font/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Roboto"), local("Roboto"),
    url("../../shared/assets/font/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Roboto"), local("Roboto"),
    url("../../shared/assets/font/Roboto/Roboto-Thin.ttf") format("truetype");
}
/* Roboto bold */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Roboto"), local("Roboto"),
    url("../../shared/assets/font/Roboto/Roboto-Bold.ttf") format("truetype");
}

/* Helvetica */
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Helvetica"), local("Helvetica"),
    url("../../shared/assets/font/Helvetica/Helvetica-Bold.ttf")
      format("truetype");
}
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Helvetica"), local("Helvetica"),
    url("../../shared/assets/font/Helvetica/Helvetica.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Helvetica"), local("Helvetica"),
    url("../../shared/assets/font/Helvetica/Helvetica-Light.ttf")
      format("truetype");
}

/* Arial */
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Arial"), local("Arial"),
    url("../../shared/assets/font/Arial/Arial-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Arial"), local("Arial"),
    url("../../shared/assets/font/Arial/Arial.ttf") format("truetype");
}
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Arial"), local("Arial"),
    url("../../shared/assets/font/Arial/Arial-Light.ttf") format("truetype");
}

/* Segoe */
@font-face {
  font-family: "Segoe-UI";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Segoe-UI"), local("Segoe-UI"),
    url("../../shared/assets/font/Segoe-ui/Segoe-UI-Bold.ttf")
      format("truetype");
}
@font-face {
  font-family: "Segoe-UI";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Segoe-UI"), local("Segoe-UI"),
    url("../../shared/assets/font/Segoe-ui/Segoe-UI.ttf") format("truetype");
}
@font-face {
  font-family: "Segoe-Historic";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Arial"), local("Arial"),
    url("../../shared/assets/font/Segoe-ui/Segoe-UI-historic.ttf")
      format("truetype");
}

.width-area {
  width: 100%;
}

/* Roboto bold */
@font-face {
  font-family: "Roboto Bold";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../../shared/assets/font/Roboto/Roboto-Bold.ttf") format("truetype");
}

a {
  &:hover {
    color: inherit;
  }
}
button {
  &:focus {
    outline: none;
  }
}
img {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  color: var(--color-text-root);
  font-weight: 400;
  font-family: "Roboto Regular";

  &.swal2-height-auto {
    height: 100% !important;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: gray;
  }

  // .main-content-wrapper {
  //   min-height: calc(100vh - 86px - 70px);
  //   overflow: hidden;

  //   .clearfix-top {
  //     height: 90px;
  //   }

  //   .wrap-content {
  //     margin: 1rem;
  //     padding: 1rem;
  //     margin-top: 0;
  //     padding-top: 0;
  //     box-sizing: content-box;
  //     height: 100%;
  //     border-radius: 4px;
  //   }
  // }
}

.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form-search {
  //Select
  .ant-select {
    &-item {
      padding: 15px 20px;
    }
    &-arrow {
      right: 0 !important;
      top: 41% !important;
      left: 12px !important;
      svg {
        font-size: 1.5rem;
        color: var(--color-gray-icon);
      }
    }
  }
  .ant-picker-suffix {
    right: 0 !important;
    top: 27% !important;
    left: 8px !important;
    position: absolute;
    svg {
      font-size: 1.5rem;
      color: var(--color-gray-icon);
    }
  }

  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border: 1px solid #d9d9d9 !important;
  }
  .ant-select-single .ant-select-selector {
    height: 60px !important;
    border-radius: 10px !important;
  }
  .ant-select-single .ant-select-selector .ant-select-selection-search-input {
    height: 60px !important;
  }
  .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
  .ant-select-single .ant-select-selector .ant-select-selection-item,
  .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    padding-left: 30px !important;
    line-height: 60px !important;
    font-size: 1.2rem !important;
  }

  .ant-select:focus,
  .ant-select-focused {
    box-shadow: none;
  }

  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    box-shadow: none;
    outline: none;
    border-color: #d9d9d9;
  }

  .ant-input-number:focus,
  .ant-input-number-focused {
    box-shadow: none;
    outline: none;
    border: none;
  }

  //Date-picker
  .ant-picker {
    width: 100% !important;
    height: 60px !important;
    padding: 0 30px !important;
    border-radius: 10px !important;
    &:hover,
    &-focused {
      border-color: #d9d9d9 !important;
      box-shadow: none !important;
    }
    &-input {
      padding-left: 15px !important;
      input {
        font-size: 1.2rem !important;
      }
    }
  }
}

.form-search-main {
  //Select
  .ant-select {
    &-arrow {
      top: 41% !important;
    }
  }
  .ant-form-item {
    margin: 0 !important;
  }
  .ant-select-single .ant-select-selector {
    height: 47px !important;
    border-radius: 10px !important;
  }
  .ant-select-single .ant-select-selector .ant-select-selection-search-input {
    height: 47px !important;
  }
  .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
  .ant-select-single .ant-select-selector .ant-select-selection-item,
  .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    line-height: 47px !important;
    font-size: 0.9rem !important;
  }
}

//Button
.ant-btn {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: var(--color-blue-button);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 1px;
  transition: all 0.15s ease-in-out 0s;
  height: auto;
  min-width: 10rem;
  &:hover,
  &:focus {
    background-color: var(--color-blue-button-hover);
    color: white;
  }
}

//Tooltip
.ant-tooltip {
  max-width: fit-content !important;
}

//Slider
.ant-slider-step {
  background: darkgray !important;
}
.ant-slider-track {
  z-index: 1 !important;
}

//modal-show-image
.modal-show-image {
  border-radius: 18px !important;
  overflow: hidden !important;
  .ant-modal-body {
    background: black !important;
    padding: 0 !important;
    border-radius: 18px !important;
  }
  .ant-modal-close-x {
    font-size: 27px !important;
    color: white !important;
  }
  &-room {
    .ant-modal-close-x {
      color: black !important;
    }
  }
}

//form
.ant-form-item {
  display: block !important;
  &-label {
    text-align: left !important;
  }
}
