.rating {
    .list-star {
        margin-right: 20px;

        .star {
            cursor: pointer;
            transition: 0.3s;
            padding: 15px;
            margin-bottom: 5px;
            border-radius: 15px;
        }

        .average {
            .number {
                text-align: center;
                font-size: 50px;
            }
        }

        .star:hover,
        .active {
            color: #be1128;
            background-color: #ffb0bb17;
        }

        .typestar {
            .wrap-progess {
                background-color: #f0f0f0;
                height: 10px;
                margin: 2px 15px;
                border-radius: 10px;

                .progress {
                    height: 100%;
                    border-radius: 10px;
                    transition: .3s;
                }
            }
        }

        .color5 {
            color: #57bd70;
        }

        .bg5 {
            background-color: #57bd70 !important;
        }

        .color4 {
            color: #8bbf49;
        }

        .bg4 {
            background-color: #8bbf49 !important;
        }

        .color3 {
            color: #dedc50;
        }

        .bg3 {
            background-color: #dedc50 !important;
        }

        .color2 {
            color: #f5b545;
        }

        .bg2 {
            background-color: #f5b545 !important;
        }

        .color1 {
            color: #eb3a42;
        }

        .bg1 {
            background-color: #eb3a42 !important;
        }

        .color0 {
            color: #ff7373;
        }

        .bg0 {
            background-color: #ff7373 !important;
        }
    }

    .ant-picker.ant-picker-range {
        background-color: #fff !important;
        border-radius: 30px !important;
        width: 300px !important;
    }
}